body {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
  background: #ffeb00;
}

.container {
  max-width: 800px;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 0 0 25px;
}

.contents-frame {
  border: 5px solid #000;
  padding: 10px;
  background: #fff;
}

.contents {
}

.header-h1 {
  font-size: 4em;
}

.contents-h1 {
}

.movie-contents {
  display: flex;
  justify-content: space-around;
  align-items: normal;
}

.movie {
  text-align: center;
  max-width: 300px;
  width: 100%;
}

.img-container {
  padding-bottom: 10px;
}

.img {
  width: 100%;
}

.dummy-img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  background: #ccc;
}

.movie-title {
}

.button {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #fff;
  border: solid 2px #008c34;
  border-radius: 3px;
  transition: .4s;
  background: #008c34;
  text-decoration: none;
  font-weight: bold;
}

.button:active,
.button:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}

.explain {
  text-align: center; 
  margin: 0px 5px;
}

.w100 {
  width: 100%;
}

.footer {
}

.br {
  display: none;
}

@media screen and (max-width: 768px) {
  .br {
    display: block;
  }
}
